*, *::before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
  object-fit: cover;
}

.wrapper {
  display: flex;
}

.content {
  width: 80%;
  overflow: hidden;
}
.content .swiper-container {
  height: 85vh;
  margin-bottom: 3rem;
}
.content .swiper-slide a {
  width: 100%;
  height: 100%;
}
.content .swiper-slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading {
  width: 40rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  position: relative;
}
.heading-text {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  padding-bottom: 2rem;
  font-weight: 550;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid black;
}
.heading-icon {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.heading-icon ion-icon {
  font-size: 1.2rem;
}

.back-to-top {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: black;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  bottom: 30px;
  right: -6rem;
  transition: 0.25s linear;
}
.back-to-top:hover i {
  transform: translateY(-3px);
}
.back-to-top i {
  color: white;
  font-size: 3rem;
  transition: 0.3s linear;
}

.back-to-top.is-actived {
  right: 15px;
}

@media screen and (max-width: 1279px) {
  .content {
    width: 75%;
  }
  .content .swiper-banner {
    height: 35vh;
  }
}
@media screen and (max-width: 1023px) {
  .content {
    width: 100%;
  }
  .content .swiper-banner {
    height: 40vh;
  }
}
@media screen and (max-width: 479px) {
  .content .swiper-banner {
    height: 30vh;
  }
}

@media screen and (max-width: 1023px) {
  .wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    width: 30rem;
  }
  .heading-text {
    font-size: 2rem;
  }
  .heading-icon ion-icon {
    font-size: 1rem;
  }
}
@media screen and (max-width: 479px) {
  .heading {
    width: 25rem;
  }
}

@media screen and (max-width: 1279px) {
  .youtube {
    height: 50rem;
  }
}
@media screen and (max-width: 1023px) {
  .youtube {
    height: 40rem;
  }
}
@media screen and (max-width: 767px) {
  .youtube {
    height: 30rem;
  }
}
@media screen and (max-width: 469px) {
  .youtube {
    height: 25rem;
  }
}

.banner {
  width: 20%;
  position: relative;
  border-right: 5px solid #78cccd;
}
.banner__inner {
  width: 20%;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}
.banner__menuIcon {
  font-size: 3rem;
  cursor: pointer;
  display: none;
}
.banner__logo {
  margin-bottom: 6rem;
}
.banner__logo img {
  width: 18rem;
  height: 11rem;
  object-fit: cover;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}
.banner__action {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
}
.banner__action-icon {
  font-size: 2.2rem;
  color: gray;
  cursor: pointer;
  transition: 0.25s ease;
}
.banner__action-icon:first-child {
  font-size: 2.5rem;
}
.banner__action-icon:nth-child(2) {
  color: black;
}
.banner__action-icon:not(:first-child) {
  margin-left: 2rem;
}
.banner__action-icon:hover {
  color: #78cccd;
  transform: translateY(-3px);
}
.banner__menu {
  width: 100%;
  padding-right: 5px;
}
.banner__menu-item {
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  border-bottom: 1px solid #f7f7f7;
  cursor: pointer;
  transition: 0.25s linear;
  position: relative;
}
.banner__menu-item:hover {
  background-color: #f7f7f7;
}
.banner__menu-item:hover .banner__menu-link {
  color: #78cccd;
}
.banner__menu-item:hover .banner__menu-link::before {
  width: 100%;
}
.banner__menu-link {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 550;
  transition: 0.25s linear;
  padding-bottom: 0.5rem;
  position: relative;
}
.banner__menu-link::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #78cccd;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.25s linear;
}
.banner__menu-hot {
  font-size: 1.2rem;
  color: white;
  padding: 0.3rem 0.4rem;
  border-radius: 3px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 15%;
}
.banner__menu-hot::before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  background-color: red;
  position: absolute;
  top: 75%;
  left: 35%;
  transform: rotate(45deg);
}
.banner__phone {
  width: 65%;
  height: 4rem;
  padding-right: 2rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  cursor: pointer;
}
.banner__phone > * {
  color: white;
}
.banner__phone-icon {
  padding: 0.5rem 1rem;
  background-color: rgba(247, 247, 247, 0.2);
}
.banner__phone-icon::before {
  font-size: 2.5rem;
}
.banner__phone-number {
  padding-left: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  border-bottom: 2px solid transparent;
  transition: 0.25s linear;
}
.banner__phone-number:hover {
  color: #78cccd;
  border-color: #78cccd;
}
.banner__social {
  display: flex;
  align-items: center;
}
.banner__social-icon {
  cursor: pointer;
  color: gray;
  font-size: 1.8rem;
  transition: 0.25s ease;
}
.banner__social-icon:hover {
  color: #78cccd;
  transform: translateY(-3px);
}
.banner__social-icon::before {
  font-size: 1.8rem;
}
.banner__social-icon:not(:first-child) {
  margin-left: 2rem;
}
.banner__menuClick {
  font-size: 3rem;
}

.search-modal {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.search-modal-inner {
  position: fixed;
  z-index: 999;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 6.5rem;
  transition: 0.35s linear;
}
.search-modal-inner input {
  width: 100%;
  height: 100%;
  padding: 0 10rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: gray;
}
.search-modal-inner ::placeholder {
  font-size: 1.5rem;
  color: gray;
  letter-spacing: 1px;
}
.search-modal-inner ion-icon {
  cursor: pointer;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.search-modal-inner ion-icon:first-child {
  left: 50px;
}
.search-modal-inner ion-icon:last-child {
  right: 50px;
  color: #eee;
  transition: 0.2s ease;
}
.search-modal-inner ion-icon:last-child:hover {
  color: gray;
}
@media screen and (max-width: 767px) {
  .search-modal-inner input {
    padding: 0 7rem;
  }
  .search-modal-inner ion-icon:first-child {
    left: 20px;
  }
  .search-modal-inner ion-icon:last-child {
    right: 20px;
  }
}
@media screen and (max-width: 469px) {
  .search-modal-inner input {
    padding: 0 5rem;
  }
  .search-modal-inner ::placeholder {
    font-size: 1.3rem;
  }
  .search-modal-inner ion-icon {
    font-size: 2rem;
  }
  .search-modal-inner ion-icon:first-child {
    left: 10px;
  }
  .search-modal-inner ion-icon:last-child {
    right: 10px;
  }
}
@media screen and (max-width: 1023px) {
  .search-modal-inner {
    display: none;
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .search-modal-inner {
    height: 5.5rem;
    width: 60%;
  }
}
@media screen and (max-width: 479px) {
  .search-modal-inner {
    height: 4.8rem;
    width: 70%;
  }
}

@media screen and (max-width: 1023px) {
  .search-modal-inner {
    top: 15rem;
    display: none;
  }
}

.search-modal.is-actived {
  height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .search-modal-inner.is-actived {
    top: 65px;
  }
}
@media screen and (max-width: 1023px) {
  .search-modal-inner.is-actived {
    display: block;
  }
}

.cart-modal {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.cart-modal-inner {
  position: fixed;
  z-index: 999;
  width: 30%;
  padding: 6rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  transition: 0.35s linear;
  transform: translateY(-100%);
}
.cart-modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7rem;
}
.cart-modal-top h2 {
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #78cccd;
}
.cart-modal-top i {
  color: white;
  cursor: pointer;
  font-size: 2.5rem;
  transition: 0.25s linear;
}
.cart-modal-top i:hover {
  color: #78cccd;
}
.cart-modal-product {
  font-weight: 300;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid white;
}
.cart-modal-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.cart-modal-price h2 {
  letter-spacing: 1px;
}
.cart-modal-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-modal-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 1.5rem 2.5rem;
  background-color: black;
  border: 1px solid #78cccd;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.25);
  transition: 0.25s linear;
  overflow: hidden;
}
.cart-modal-button a:hover {
  color: #78cccd;
  border-color: white;
  box-shadow: 0 0 20px rgba(120, 204, 205, 0.5);
}
@media screen and (max-width: 1279px) {
  .cart-modal-inner {
    width: 35%;
    padding: 5rem 3rem;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
  }
  .cart-modal-button a {
    padding: 1.5rem 2.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .cart-modal-inner {
    width: 45%;
    right: 0;
    top: 13.5rem;
    transform: translateX(100%) !important;
  }
}
@media screen and (max-width: 767px) {
  .cart-modal-inner {
    padding: 3rem 2rem;
    width: 60%;
    top: 11.5rem;
  }
  .cart-modal-top {
    margin-bottom: 5rem;
  }
  .cart-modal-top h2 {
    font-size: 1.3rem;
  }
  .cart-modal-top i {
    font-size: 2rem;
  }
  .cart-modal-price h2 {
    font-size: 1.2rem;
  }
  .cart-modal-button {
    flex-direction: column;
  }
  .cart-modal-button a {
    width: 80%;
    font-size: 1.2rem;
  }
  .cart-modal-button a:first-child {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 479px) {
  .cart-modal-inner {
    padding: 2.5rem 1.5rem;
    width: 75%;
    top: 9.5rem;
  }
  .cart-modal-top {
    margin-bottom: 3.5rem;
  }
  .cart-modal-product {
    padding-bottom: 2.5rem;
  }
  .cart-modal-button {
    flex-direction: column;
  }
  .cart-modal-button a:first-child {
    margin-bottom: 1rem;
  }
}

.cart-modal.is-actived {
  height: 100vh;
  opacity: 1;
}

.cart-modal-inner.is-actived {
  transform: translateY(0);
}
@media screen and (max-width: 1023px) {
  .cart-modal-inner.is-actived {
    transform: translateX(0) !important;
  }
}

@media screen and (max-width: 1279px) {
  .banner {
    width: 25%;
  }
  .banner__inner {
    width: 25%;
  }
  .banner__phone {
    width: 70%;
  }
  .banner__phone-number {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner {
    width: 100%;
    height: 12rem;
    z-index: 99999999999999;
    border: none;
    margin-bottom: 1.5rem;
  }
  .banner__inner {
    padding: 1rem 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .banner__menuIcon {
    display: block;
  }
  .banner__social, .banner__phone, .banner__action ion-icon:first-child {
    display: none;
  }
  .banner__action {
    position: relative;
    z-index: -999;
    margin: 0;
  }
  .banner__action ion-icon {
    color: black;
  }
  .banner__logo {
    margin: 0;
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.4);
    width: 15rem;
    margin-left: 3rem;
  }
  .banner__logo img {
    width: 100%;
    height: auto;
  }
  .banner__menuWrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.35s linear;
    opacity: 0;
  }
  .banner .banner__menuWrap.is-actived {
    width: 100%;
    opacity: 1;
  }
  .banner__menuRespon {
    height: 100vh;
    width: 45%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    transform: translateX(-100%);
    transition: 0.35s linear;
  }
  .banner__menuRespon img {
    width: 18rem;
    height: auto;
    box-shadow: 0 0 40px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner__menuRespon ion-icon:last-child {
    font-size: 3rem;
    position: absolute;
    color: black !important;
    top: 30px;
    right: 20px;
  }
  .banner__menu {
    width: 45%;
    position: absolute;
    top: 20rem;
    left: 0;
    z-index: 9999999999;
    padding: 0;
    transform: translateX(-100%);
    transition: 0.35s linear;
  }
}
@media screen and (max-width: 1023px) and (max-width: 767px) {
  .banner__menuRespon {
    width: 65%;
  }
  .banner__menu {
    width: 65%;
  }
}
@media screen and (max-width: 1023px) and (max-width: 479px) {
  .banner__menuRespon {
    width: 80%;
  }
  .banner__menuRespon img {
    width: 12rem;
  }
  .banner__menu {
    top: 14rem;
    width: 80%;
  }
}
@media screen and (max-width: 1023px) {
  .banner.is-actived {
    position: fixed;
    transition: 0.25s linear;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .banner.is-actived ion-icon {
    transition: 0.25s linear;
    color: white;
  }
}
@media screen and (max-width: 1023px) {
  .banner__menuRespon.is-actived {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1023px) {
  .banner__menu.is-actived {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1023px) {
  .banner__phone.is-actived {
    transform: translateX(0);
  }
}
@media screen and (min-width: 1024px) {
  .banner__menuRespon img, .banner__menuRespon .menu-close {
    display: none;
  }

  .banner__menuClick {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .banner {
    height: 10rem;
  }
  .banner__logo {
    width: 12rem;
    margin-left: 2.5rem;
  }
  .banner__logo img {
    width: 100%;
  }
  .banner__action ion-icon:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .banner {
    height: 8rem;
  }
  .banner__logo {
    margin-left: 3.7rem;
    width: 10rem;
  }
  .banner__logo img {
    width: 100%;
  }
}
.product {
  margin-bottom: 5rem;
}
.product__top {
  padding: 0 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 76rem;
  grid-column-gap: 3rem;
  padding-bottom: 3rem;
}
.product__top-image {
  width: 100%;
  height: 100%;
}
.product__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 28.5rem 3rem 28.5rem;
  grid-column-gap: 3rem;
}
.product__bottom-link:first-child {
  grid-column: 1/span 2;
  grid-row: 1/4;
}
.product__bottom-link:nth-child(4) {
  grid-column: 3/4;
  grid-row: 3/4;
}
.product__bottom-link:last-child {
  grid-column: 4/5;
  grid-row: 3/4;
}
.product__bottom-link {
  overflow: hidden;
  position: relative;
}
.product__bottom-link::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.2s linear;
}
.product__bottom-link:hover::before {
  opacity: 1;
}
.product__bottom-link:hover .product__bottom-text h2, .product__bottom-link:hover .product__bottom-text span {
  transform: translateY(0) scaleY(1);
  opacity: 1;
}
.product__bottom-text {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__bottom-text h2 {
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 1.3rem;
  transition: 0.2s linear 0.1s;
  opacity: 0;
  transform: translateY(10px) scaleY(0);
}
.product__bottom-text span {
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.2s linear 0.2s;
  opacity: 0;
  transform: translateY(10px) scaleY(0);
}
.product__bottom-text--big h2 {
  font-size: 2.5rem;
}
.product__bottom-text--big span {
  font-size: 1.5rem;
}
.product__bottom-text--small h2 {
  font-size: 2rem;
}
.product__bottom-text--small span {
  font-size: 1.2rem;
}
.product__bottom-image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1279px) {
  .product__top {
    padding: 0 3rem;
    grid-template-rows: 45rem;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
  }
  .product__bottom {
    grid-template-rows: 18.5rem 2rem 18.5rem;
    grid-column-gap: 2rem;
  }
}
@media screen and (max-width: 1023px) {
  .product__bottom {
    grid-template-rows: 16.5rem 2rem 16.5rem;
  }
}
@media screen and (max-width: 767px) {
  .product__top {
    padding: 0 2rem;
    grid-template-rows: 30rem;
    grid-column-gap: 1rem;
  }
  .product__bottom {
    padding: 0 1rem;
    grid-template-rows: 12.5rem 1rem 12.5rem;
    grid-column-gap: 1rem;
  }
  .product__bottom-text--big h2 {
    font-size: 2.1rem;
  }
  .product__bottom-text--big span {
    font-size: 1.3rem;
  }
  .product__bottom-text--small h2 {
    font-size: 1.5rem;
  }
  .product__bottom-text--small span {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 479px) {
  .product__top {
    grid-template-columns: 1fr;
    grid-template-rows: 25rem 25rem;
    grid-row-gap: 2rem;
  }
  .product__bottom {
    display: flex;
    flex-wrap: wrap;
  }
  .product__bottom-link:first-child {
    width: 100%;
    height: 25rem;
    margin-bottom: 1rem;
  }
  .product__bottom-link:not(:first-child) {
    height: 18.5rem;
    width: 48%;
    margin-bottom: 1rem;
  }
}

.arrivals {
  margin-bottom: 8rem;
  padding: 0 4rem;
}
.arrivals__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.6rem;
}
.arrivals__list-item {
  width: calc(100% - 1.2rem) !important;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrivals__list-item:hover .arrivals__list-image img {
  transform: scale(1.1);
}
.arrivals__list-item:hover .arrivals__list-type {
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.3);
  height: 20%;
}
.arrivals__list-item:hover .arrivals__list-type img {
  height: 50px;
}
.arrivals__list .arrow-left, .arrivals__list .arrow-right {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  top: 42%;
  transition: 0.25s linear;
}
.arrivals__list .arrow-left::before, .arrivals__list .arrow-right::before {
  font-size: 3rem;
  color: white;
  transition: 0.25s linear;
}
.arrivals__list .arrow-left {
  left: -2rem;
}
.arrivals__list .arrow-left:hover::before {
  transform: translateX(-3px);
  color: #78cccd;
}
.arrivals__list .arrow-right {
  right: -1.5rem;
}
.arrivals__list .arrow-right:hover::before {
  transform: translateX(3px);
  color: #78cccd;
}
.arrivals__list-wrap {
  width: 100%;
  height: 39.5rem;
  position: relative;
}
.arrivals__list-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.arrivals__list-image img {
  width: 100%;
  height: 100%;
  transition: 0.2s linear;
}
.arrivals__list-type {
  width: 100%;
  height: 0;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s linear 0.5s;
}
.arrivals__list-type img {
  width: 50px;
  height: 0;
  transition: 0.25s linear 0.5s;
  padding: 0.5rem;
  border: 2px solid transparent;
}
.arrivals__list-type img:not(:first-child) {
  margin-left: 1.5rem;
}
.arrivals__list-type img:hover {
  transition: 0.15s linear;
  border-color: red;
}
.arrivals__list-price {
  display: block;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 550;
  letter-spacing: 1px;
}
.arrivals__list-price span {
  font-size: 1.2rem;
  text-decoration: underline;
}
.arrivals__footer {
  display: inline-block;
  margin-top: 5rem;
  width: 100%;
  height: 14rem;
}

@media screen and (max-width: 1279px) {
  .arrivals {
    padding: 0 2rem;
  }
  .arrivals__list-wrap {
    height: 31.5rem;
  }
  .arrivals__footer {
    margin-top: 2rem;
  }
  .arrivals .arrow-left, .arrivals .arrow-right {
    transform: translateY(-10px);
  }
}
@media screen and (max-width: 767px) {
  .arrivals__list-wrap {
    height: 28.5rem;
  }
  .arrivals__footer {
    margin-top: 0;
    height: 7rem;
  }
}
@media screen and (max-width: 479px) {
  .arrivals {
    padding: 0 2rem;
  }
  .arrivals__list-wrap {
    height: 31.5rem;
  }
}

.news {
  padding: 0 4rem 3rem;
}
.news__heading {
  height: 0.5rem;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 3rem;
  position: relative;
}
.news__heading-text {
  width: max-content;
  font-size: 2.2rem;
  font-weight: 550;
  letter-spacing: 1px;
  background-color: white;
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.news__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.news__content .swiper-container {
  width: calc(68% - 1.5rem);
  height: 41.5rem;
  margin-left: 0;
  margin-bottom: 0rem;
}
.news__content .swiper-slide {
  position: relative;
}
.news__content .swiper-slide a img {
  width: 100%;
  height: 100%;
}
.news__content .swiper-button-prev, .news__content .swiper-button-next {
  width: 5rem;
  height: 5rem;
}
.news__content .swiper-button-prev i, .news__content .swiper-button-next i {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  transition: 0.2s linear;
}
.news__content .swiper-button-prev i:hover, .news__content .swiper-button-next i:hover {
  background-color: #78cccd;
}
.news__content .swiper-content {
  width: 100%;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 999;
  left: 0;
  bottom: 0;
}
.news__content .swiper-content-heading {
  display: inline-block;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.7rem 1rem;
  background-color: #3BA1A2;
}
.news__content .swiper-content-desc {
  width: max-content;
  font-size: 1.5rem;
  padding: 1rem;
}
.news__content .swiper-content-desc a {
  color: white;
  border-bottom: 1px solid transparent;
  transition: 0.25s linear;
}
.news__content .swiper-content-desc a:hover {
  color: #78cccd;
  border-bottom-color: #78cccd;
}
.news__content-blogs {
  width: calc(32% - 1.5rem);
}
.news__content-heading {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.news__content-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__content-item:not(:last-child) {
  margin-bottom: 1rem;
}
.news__content-image {
  display: block;
  width: calc(42% - 0.75rem);
  height: 8.5rem;
}
.news__content-right {
  width: calc(58% - 0.75rem);
}
.news__content-title a {
  color: black;
  letter-spacing: 1px;
  font-weight: 450;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.25s linear;
}
.news__content-title a:hover {
  color: #78cccd;
}
.news__content-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}
.news__content-date {
  color: gray;
}
.news__content-source a {
  color: #78cccd;
}
.news__button {
  width: 25rem;
  height: 5rem;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s linear;
}
.news__button:hover {
  border: none;
  background-color: rgba(0, 0, 0, 0.9);
}
.news__button:hover > * {
  color: white;
}
.news__button-icon {
  display: inline-block;
  margin-right: 1rem;
  color: gray;
  transition: 0.25s linear;
}
.news__button-icon::before {
  font-size: 2rem;
}
.news__button-link {
  color: black;
  font-size: 1.6rem;
  font-weight: 450;
  transition: 0.25s linear;
}
.news__button-link:hover {
  color: #78cccd;
}

@media screen and (max-width: 1279px) {
  .news {
    padding: 0 2rem 3rem;
  }
  .news__content {
    flex-direction: column;
  }
  .news__content .swiper-container {
    width: 100%;
    margin: 1.5rem 0 3rem;
  }
  .news__content-blogs {
    width: 100%;
  }
  .news__content-heading {
    text-align: center;
    padding-bottom: 0.8rem;
    margin-bottom: 3rem;
    position: relative;
  }
  .news__content-heading::before {
    content: "";
    width: 8rem;
    height: 0.25rem;
    background-color: #78cccd;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .news__content-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .news__content-list > * {
    width: calc(50% - 2rem);
  }
  .news__content-item:first-child, .news__content-item:nth-child(2) {
    margin-bottom: 2rem;
  }
  .news__content-image {
    height: 9.5rem;
  }
  .news__content-title a {
    font-size: 1.4rem;
    letter-spacing: unset;
  }
  .news__content-date {
    font-size: 1.1rem;
  }
  .news__content-source a {
    font-size: 1rem;
  }
}
.news__button {
  width: 22rem;
  height: 4.5rem;
}
.news__button-link {
  font-size: 1.3rem;
}
.news__button-icon::before {
  font-size: 1.5rem;
}
@media screen and (max-width: 1023px) {
  .news__content-item:first-child, .news__content-item:nth-child(2) {
    margin-bottom: 3rem;
  }
  .news__content-image {
    width: calc(45% - 0.5rem);
    height: 11rem;
    margin-bottom: 1.5rem;
  }
  .news__content-right {
    width: calc(55% - 0.5rem);
  }
}
@media screen and (max-width: 767px) {
  .news__heading-text {
    font-size: 2rem;
  }
  .news__content-list > * {
    width: calc(50% - 1.5rem);
  }
  .news__content-item {
    flex-direction: column;
  }
  .news__content-image {
    width: 100%;
    height: 13rem;
    margin-bottom: 1.5rem;
  }
  .news__content-right {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .news {
    padding: 0 2rem 3rem;
  }
  .news__heading-text {
    font-size: 1.8rem;
  }
  .news__content .swiper-container {
    height: 27.5rem;
  }
  .news__content .swiper-content-heading, .news__content .swiper-content-desc {
    font-size: 1.2rem;
  }
  .news__content .swiper-content-desc {
    width: 100%;
  }
  .news__content .swiper-content-desc a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.5rem;
  }
  .news__content .swiper-button-prev, .news__content .swiper-button-next {
    display: none;
  }
  .news__content-item {
    width: 100%;
    flex-direction: row;
  }
  .news__content-image {
    width: calc(40% - 0.5rem);
    height: 10rem;
    margin-bottom: 1.5rem;
  }
  .news__content-right {
    width: calc(60% - 0.5rem);
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__content-top {
  position: relative;
}
.footer__content-image {
  width: 100%;
  height: 100%;
}
.footer__content-heading {
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2rem 5.5rem;
  background-color: rgba(120, 204, 205, 0.9);
  border: 3px solid #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__content-bottom {
  margin-top: -1rem;
  padding: 0 4rem 3rem;
  background-color: black;
}
.footer__content-menu {
  padding: 4rem 3rem;
  display: flex;
  justify-content: space-between;
  color: white;
}
.footer__content-item:nth-child(2) {
  margin: 0 5rem;
}
.footer__content-title--big {
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
  text-align: center;
}
.footer__content-title--small {
  font-size: 1.8rem;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}
.footer__content-phone {
  display: block;
  color: #C57C06;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 0.8rem;
}
.footer__content-email {
  font-size: 1.2rem;
  color: white;
  border-bottom: 1px solid transparent;
  transition: 0.25s linear;
}
.footer__content-email:hover {
  border-bottom-color: #78cccd;
}
.footer__content-text:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__content-link {
  color: white;
  font-size: 1.3rem;
  display: inline-block;
  transition: 0.25s linear;
}
.footer__content-link:hover {
  color: #78cccd;
}
.footer__content-act {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content-act-item {
  width: calc(39% - 5rem);
}
.footer__content-act-item h2 {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 1.2rem;
}
.footer__content-act-wrap {
  width: 100%;
  height: 3.5rem;
  position: relative;
}
.footer__content-input {
  width: 100%;
  height: 100%;
  background-color: #eee;
  color: black;
  outline: none;
  border: none;
  padding: 0 11rem 0 1.5rem;
}
.footer__content-button {
  width: 10rem;
  height: 100%;
  background-color: black;
  border: 1px solid white;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0px;
  transition: 0.25s linear;
}
.footer__content-button:hover {
  background-color: #78cccd;
}
.footer__content-feedback {
  width: calc(22% - 3rem);
  display: flex;
  align-items: center;
}
.footer__content-feedback-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #78cccd;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}
.footer__content-feedback-icon ion-icon {
  font-size: 1.8rem;
}
.footer__content-feedback-text {
  color: #78cccd;
  border-bottom: 1px solid transparent;
  padding-bottom: 0.2rem;
  transition: 0.25s linear;
}
.footer__content-feedback-text:hover {
  border-bottom-color: #78cccd;
}
.footer__content-adress {
  color: white;
  line-height: 1.8;
}

@media screen and (max-width: 1279px) {
  .footer__content-image {
    height: 25rem;
  }
  .footer__content-heading {
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
  }
  .footer__content-bottom {
    padding: 0 3rem 4rem;
  }
  .footer__content-menu {
    padding: 4rem 0;
    flex-wrap: wrap;
  }
  .footer__content-item {
    display: flex;
    flex-direction: column;
  }
  .footer__content-item:first-child, .footer__content-item:nth-child(2) {
    align-items: center;
    margin: 0;
    width: 50%;
    margin-bottom: 3rem;
  }
  .footer__content-item:nth-child(3), .footer__content-item:nth-child(4), .footer__content-item:last-child {
    width: calc(33.33% - 5rem);
    margin-left: 5rem;
  }
  .footer__content-act {
    flex-wrap: wrap;
  }
  .footer__content-act-item {
    width: calc(50% - 3rem);
    margin-bottom: 2.5rem;
  }
  .footer__content-act-item h2 {
    font-size: 1.5rem;
  }
  .footer__content-feedback {
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .footer__content-image {
    height: 22rem;
  }
  .footer__content-heading {
    font-size: 1.2rem;
    padding: 1.5rem;
  }
  .footer__content-item:nth-child(3), .footer__content-item:nth-child(4) {
    align-items: center;
    width: 50%;
    margin: 0 0 3rem;
  }
  .footer__content-item:last-child {
    width: 100%;
    margin: 0;
    align-items: center;
  }
  .footer__content-title--small {
    font-size: 1.6rem;
  }
  .footer__content-act {
    justify-content: center;
  }
  .footer__content-act-item {
    width: 80%;
  }
  .footer__content-act-item:first-of-type {
    margin-bottom: 3rem;
  }
  .footer__content-adress h3 {
    font-size: 1.2rem;
  }
  .footer__content-adress p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 479px) {
  .footer__content-heading {
    width: 70%;
    height: 4rem;
  }
  .footer__content-image {
    height: 20rem;
  }
  .footer__content-bottom {
    padding: 0 1.5rem 4rem;
  }
  .footer__content-act-item {
    width: 95%;
  }
  .footer__content-button {
    width: 9rem;
  }
}

/*# sourceMappingURL=style.css.map */
